<form action="/submit-evento" method="POST">
    <h2>Novo Evento</h2>

    <label for="titulo">Titulo</label>
    <input type="text"id="titulo" name ="titulo" required>

    <label for="data">Data</label>
    <input type="date"id="data" name ="data" required>


    <label for="organizador">Organizador</label>
    <input type="text"id="organizador" name ="organizador" required>

    <label for="preco">Preco</label>
    <input type="Number"id="Preco" name ="preco" required>
    
    <label for="localizacao">Localização</label>
    <input type="text"id="titulo" name ="localizacao" required>
    
    <label for="descricao">Descrição</label>
    <input type="text"id="descricao" name ="descricao" required>

    <button type ="submit">Enviar</button>


</form>